* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --dark: #ffff;
    --medium: #631a86;
    --medium-light: rgb(55 65 81 / 1);
    --light: #f3f4f6;
    --danger: #ffe156;
    --danger-dark: #ff9f1c;
}

body {
    background-color: #f3f4f6;
    min-height: 100vh;
    line-height: 1.2em;
    font-size: 100%;
    font-weight: 400;
    font-family: Figtree, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.breadcrumb-item>a {
    font-size: 10px;
}

body,
input {
    font-family: Figtree, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

header,
main,
footer {
    padding: 1em;
    max-width: 100%;
    margin: 0 auto;
}

header,
footer {
    min-height: 10vh;
}

.card {
    padding: 1rem;
}

.card-body {
    min-height: 80vh;
    box-shadow: 0em 1em 2em 0px rgba(0, 0, 0, 0.5);
    background: var(--dark);
    color: #000000d1;
    border-radius: 0.5em;

}



.pdf a {
    color: #ffffff;
    border: 1.5px solid red;
    padding: 6px 15px 6px 15px;
    font-size: 12px;
    border-radius: 8px;
    letter-spacing: 2px;
    text-transform: uppercase;
    box-shadow: 2px 7px 13px 0px #00000085;
    background-color: red;
}

.py-12 {
    padding-top: 0;
}

.text-gray-900 {
    --tw-text-opacity: 1;
    color: rgb(17 24 39 / 79%);
    letter-spacing: 6px;
    text-transform: uppercase;
    font-size: 13px !important;

    font-weight: bold;
    border-bottom: 2px solid red;

    margin-bottom: 30px;
    padding-left: 8px;
    width: 90%;
}

.py-12 header {
    display: block;
}

.py-12 form {
    display: block;
}

nav.bg-white {
    display: none;
}

.fa-bars {
    color: white;
}

button.inline-flex {
    margin-top: 26px;
}

.pdf {
    margin-top: 22px;
    margin-bottom: 18px;
    text-align-last: center;

}

.pdf a:hover {
    background-color: #f44336de;
}

h1 {
    margin: 1em 0;
    font-size: 15px;
    letter-spacing: 7px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 9px;

}

.showHr {
    width: 200px;
    margin: auto;
    border: 1px solid #ff000087;
    border-radius: 19px;
    margin-top: 0;
    opacity: 0.9;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/* forms */
form {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin-top: 4%;
}

.showDiv {
    /*padding: 4px 14px 15px 14px;
    box-shadow: 9px 10px 20px 3px #00000030;*/
}

input:focus-visible {
    outline: 1.5px solid #ff000054;
    border-color: white;
    color: #000000bd;
}

fieldset {
    display: flex;
    /*grid-template-columns: 1fr 3fr 2fr;*/
    margin-bottom: 0.5em;
    border: 1px solid #808080d4;
    padding: 5px 5px 8px 11px;
    border-radius: 10px;
    box-shadow: 2px 7px 6px 0px #00000029;
    font-size: 14px;
    width: 30%;
    flex-flow: column;
    flex-wrap: wrap;
}

input,
button,
select,
.button {
    font-size: 1rem;
    padding: 0.25em;
    border: none;
    border-radius: 0.5em;
    color: black;
}

button,
.button {
    padding: 0.7em 1em;
    font-weight: bold !important;
    background-color: #1f2937;
    color: #fff;
    transition: background-color 350ms ease-in-out;
    cursor: pointer;
    font-size: 12px !important;

}

.fa-sort-alpha-up,
.fa-sort-alpha-down-alt {
    color: black;
    font-size: 24px;
    border: 2px solid black;
    border-radius: 26px;
    padding: 6px;


}

.fa-plus-square {
    color: green;
    font-size: 42px;
}

.fa-sort-alpha-up:hover,
.fa-sort-alpha-down-alt:hover {
    color: white;
    background-color: black;
}

.torol {
    background-color: #c9302c !important;
    margin-top: 6px;
}

ol.cd-breadcrumb li {
    margin-left: 7px;
}

li {
    border: 1px solid #808080d4;
    padding: 5px 5px 5px 11px;
    border-radius: 10px;
    box-shadow: 2px 7px 6px 0px #00000029;
    font-size: 14px;
    color: black;
}

.list-group li {
    width: 30%;
}

.indexCim {
    margin: 1em 0;
    font-size: 15px;
    color: #8080808a;
    letter-spacing: 7px;
    text-transform: uppercase;
    text-align: center;
}

button:hover,
.button:hover {
    background-color: var(--medium-light);
}

.button {
    padding: 10px !important;
    padding-left: 18px !important;
}

label {
    margin: 0 1em 0 0;
}

textarea {
    height: 5rem;
}

/* header */
header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
    padding-top: 15px;
}

header img {
    width: 100px;
}

footer {
    text-align: center;
    margin: 10px;
    color: black;
}

form input,
select {
    border: 1.5px solid #00000042;
    padding: 3px;
    font-size: 14px;
}

input {
    --tw-border-opacity: 1;
    border-color: rgb(99 102 241 / var(--tw-border-opacity));
}

header ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

header li {
    margin: 0 0 0 1em;
}

ul.list-group {
    display: flex !important;
    flex-wrap: wrap;
}

header a:hover {
    --tw-text-opacity: 1;
    color: rgb(17 24 39 / var(--tw-text-opacity));
}

header a:focus {
    outline-color: #ef4444;
}

/* main */
main a {
    color: #9E9E9E;
}

/* footer */
footer {
    text-align: center;
}

/* actions */
.actions {
    display: flex;
    align-items: center;
    gap: 1em;
    margin: 0.5em 0;
}

.danger {
    background-color: var(--danger);
    color: var(--dark);
}

.danger:hover {
    background-color: var(--danger-dark);
}

/* alerts */
.alert {
    font-family: Poppins, sans-serif;
    background-color: var(--light);
    color: var(--dark);
    padding: 1em;
    border-radius: 0.5em;
    margin: 1em 0;
    color: #000;
}

.alert-warning::before {
    content: "⚠️";
    margin-right: 0.5em;
}

.alert-success::before {
    content: "✅";
    margin-right: 0.5em;
}

.tags {
    list-style: none;
    display: flex;
    gap: 1em;
    margin: 0.5em;
}


.tags li {
    background-color: var(--light);
    color: var(--dark);
    padding: 0.25em 0.5em;
    border-radius: 0.5em;
}

#paginator {
    margin: 3em auto 1em auto;
    width: fit-content;
    text-align: center;
}

#paginator svg {
    width: 1em;
    height: 1em;
    margin: 0 0.5em;
    cursor: pointer;
}

#signature-pad {
    border: 1px solid #000;
    width: 100%;
    height: 300px;
}

canvas {
    touch-action: none;
}

main ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20%, 1fr));
    gap: 10px;
}

.fa-sharp {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 1.5rem;
}

.fa-regular {
    font-family: "Font Awesome 5 Free";
    font-weight: 400;
    font-size: 1.5rem;
}

.sort img {
    width: 35px;
    background-color: white;
    border-radius: 15px;
    border: 3px solid black;
}

.title {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    align-items: center;
    margin-bottom: 30px;
    border-radius: 25px;
    box-shadow: 5px 9px 20px 8px #00000026;
    margin-top: 20px;
}

.title>div:nth-child(1) {
    flex-basis: 15%;
}

.title>div:nth-child(2),
.title>div:nth-child(3) {
    flex-basis: 50px;
}

.title>div:nth-child(4) {
    flex-grow: 1;
}






nav a {
    font-size: 14px;
    text-align: center;
    /*font-weight: 600;*/
    --tw-text-opacity: 1;
    color: rgb(75 85 99 / var(--tw-text-opacity));
}

main li {
    font-size: 20px;
}

.kereses {
    margin: 5px;
    gap: 8px;
    display: flex;
    justify-content: end;
    flex-grow: 1;
}

nav button {
    background-color: #c9302c;
}

.pagination {
    display: flex !important;
    justify-content: center;
}

.pagination li {
    padding: 4px 9px 4px 9px !important
}

.megrendeles{
    margin-bottom: 40px;
}

.container h3 {
    margin-bottom: 20px;
    font-size: 14.4px;
    margin-top: 24px;
    border-bottom: 2px solid #ff000087;
    /* text-align: center; */
    padding: 5px;
    padding-bottom: 3px;
    width: 200px;
    border-radius: 14px;
    text-align: center;
    letter-spacing: 1.3px;
}

.munkaSzereloPár {
    display: grid;
    grid-template-columns: 15% 45%;
}

.grid {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 500px 40px;
    text-align: center;
    gap: 10px;
    margin: auto;
}

input#ugyfelAdatokMatch {
    margin-top: 16px;
}

.card-body ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-bottom: 30px;
    margin-left: 10px;
}

ul>li {
    font-size: 13px;
    letter-spacing: 1px;
    padding: 10px;
    padding-left: 18px;
}

.notification {

    color: white;
    text-decoration: none;
    padding: 15px 26px;
    position: relative;
    display: inline-block;
    border-radius: 2px;
}

.notification i:hover {
    background: rgba(255, 0, 0, 0.404);
}

.notification .badge {
    position: absolute;
    top: 16px;
    right: 26px;
    padding: 3px 5px;
    border-radius: 50%;
    /* background-color: white; */
    color: black;
    font-size: 11px;
}

::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #000000d1;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: gray;
}

.fa-bell {
    font-size: 20px;
    color: white;
    cursor: pointer;
}


@media screen and (max-width: 650px) {

    .title>div:nth-child(3),
    .title>div:nth-child(4) {
        flex-basis: 100%;
    }

    .kereses {
        justify-content: end;
        flex-grow: 1;
    }
}
